@white: #fff;
@light-gray: #eee;
@light-gray-2: #D8D8D8;
@light-gray-3: #eaeaea;
@inactive-gray: #D2D2D2;
@gray: #979797;
@gray-2: #bbbbbb;
@bright-blue: #33A2CC;
@light-blue: #add9ea;

.map-container {
  max-width: 1080px;
  margin: 40px auto;
  padding: 0px 40px;
  width: 72%;
}

.friends-list-container,
.locations-list-container {
  margin: 40px auto;
  max-width: 560px;
  padding-right: 40px;
  padding-left: 8px;
  width: 28%;
}

.location-selector {
  display: inline-block;
  margin-right: 16px;
  min-width: 240px;
  width: 50%;

  &:focus {
    outline: 0;
  }

  .Select-control {
    border: 1px solid @gray;
    border-radius: 4px;
    height: 46px;

    .Select-placeholder {
      line-height: 46px;
    }

    .Select-input {
      height: 46px;

      input {
        padding: 12px 0px;
      }
    }

    .Select-value {
      line-height: 46px !important; // FIXME
    }
  }

  .Select-menu-outer {
    z-index: 9999;
  }
}

.react-datepicker-wrapper {
  float: left;
}

.react-datepicker-popper {
  z-index: 9999 !important; // FIXME
}

.current-user-card-container {
  border-bottom: 1px solid @light-gray-2;
  margin-bottom: 16px;
}

// TODO: move to different file
.friend-card-container {
  background-color: @white;
  border: 1px solid @light-gray-2;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;

  &:hover {
    border-color: @light-blue;
    cursor: pointer;
    margin-left: -2px;
    margin-right: 2px;
    margin-top: -2px;
    margin-bottom: 18px;

    box-shadow: 2px 4px 16px 0px rgba(210, 210, 210, 0.8);
    -webkit-box-shadow: 2px 4px 16px 0px rgba(210, 210, 210, 0.8);
    -moz-box-shadow: 2px 4px 16px 0px rgba(210, 210, 210, 0.8);

    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;

    .friend-card-btn {
      opacity: 0.6;
    }
  }

  &.selected {
    border-color: @bright-blue;

    h3 {
      color: @bright-blue;
    }
  }

  .friend-location-label {
    color: @gray;
    font-size: 12px;
    letter-spacing: 0.4px;
    margin-bottom: 2px;
  }

  .friend-location-container {
    margin-bottom: 8px;
  }

  .friend-location-preview {
    font-size: 14px;
  }

  .friend-location-date {
    font-size: 14px;
    line-height: 22px;
  }

  .friend-card-btn {
    margin-top: 8px;
    font-size: 12px;
    padding: 8px 16px;
    opacity: 0.4;

    &:hover {
      opacity: 1.0;
    }
  }
}

// TODO: move to different file
.x-icon {
  height: 18px;
  margin-top: 2px;
  transform: rotate(45deg);
}

.location-card-container {
  background-color: @white;
  border: 1px solid @light-gray-2;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 16px;

  .x-icon {
    visibility: hidden;
  }

  &:hover {
    border-color: @light-blue;
    cursor: pointer;

    .x-icon {
      visibility: visible;
    }
  }

  &.selected {
    border-color: @bright-blue;

    h3 {
      color: @bright-blue;
    }
  }
}

@media (max-width: 980px) {
  .map-container,
  .friends-list-container,
  .locations-list-container {
    float: none;
    padding: 0px 32px;
    width: 100%;
  }
}
